<div class="main-container">
    <div class="row product-intro-block">
        <div class="col-md-7">
            <h2 class="mb-4 product-intro-title">Our different {{category?.name}}</h2>
            <p class="mt-5">{{category?.description}}</p>
            <br>
            <p class="flip">
                <span class="deg1"></span>
                <span class="deg2"></span>
                <span class="deg3"></span>
            </p>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-6" *ngFor="let product of productList; index as i" style="padding: 2%;">
                <div class="row" style="padding: 2%;">
                    <div class="img-product">
                        <img [src]="backgroundList[i]" alt="image-new">
                    </div>
                    <div class="desc col-auto">
                        <div class="d-flex justify-content-between">
                            <div class="">
                                <h3><span>{{product.name}}</span></h3>
                            </div>
                            <div class="flex-grow-1 dashed"></div>
                            <div>
                                <span class="price">{{product.price + ' €'}}</span>
                                <small class="tax-info"> TTC</small>
                            </div>
                        </div>
                        <div class="row product-description">
                            <div class="col">
                                <p>{{product.description}}</p>
                            </div>
                            <div class="float-right" style="margin-right: 10px;">
                                <div class="input-group col-auto">
                                    <label for="{{'lb' + i}}" hidden></label>
                                    <input type="text" id="{{'lb' + i}}" #inputQty class="form-control" maxlength="2"  value="1" style="width: 40px;">
                                    <div class="input-group-append">
                                        <span class="btn btn-order" (click)="addToCart(product.id, product.name, inputQty.value)">Order</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
