<div class="admin-category bg-light p-4">
    <div class="text-center">
        <h4>Categories administration</h4>
    </div>
    <div class="d-flex justify-content-around flex-wrap p-4">
        <div class="card col-lg-5 col-md-12 col-sm-12 col-12">
            <div class="card-header">
                Add a new category
            </div>
            <div class="card-body">
                <form class="mt-3 mb-3"
                      name="newCatForm"
                      role="form"
                      [formGroup]="addForm"
                      (keydown)="hideAlerts()"
                      (ngSubmit)="addNew()">
                    <div class="input-group">
                        <input type="text"
                               class="form-control"
                               placeholder="Enter a category"
                               required="required"
                               formControlName="name">
                        <div class="input-group-append">
                            <span class="input-group-text"><i class="ion-md-filing"></i></span>
                        </div>
                    </div>
                    <hr>
                    <textarea type="text"
                              class="form-control"
                              placeholder="Enter the description text"
                              required="required"
                              formControlName="description"></textarea>
                    <hr>
                    <div class="text-center">
                        <button type="submit" class="btn btn-primary" [disabled]="addForm.invalid">Save the new category</button>
                    </div>
                </form>
                <div *ngIf="alertForAdd">
                    <hr>
                    <div class="alert alert-danger" *ngIf="alertError">
                        {{alertInfo}}
                    </div>
                    <div class="alert alert-success" *ngIf="alertSuccess">
                        {{alertInfo}}
                    </div>
                </div>
            </div>
        </div>
        <div class="card col-lg-5 col-md-12 col-sm-12 col-12">
            <div class="card-header">
                Update a category
            </div>
            <div class="card-body">
                <div class="input-group mt-3 mb-3">
                    <div class="input-group-prepend">
                        <button type="button" class="btn btn-outline-secondary dropdown-toggle" data-toggle="dropdown">
                            Select
                        </button>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" *ngFor="let category of categories; index as i" id="{{i}}"
                               (click)="clickSelect(i)" style="cursor: pointer;">
                                {{category.name}}
                            </a>
                        </div>
                    </div>
                    <input type="text"
                           id="{{selectedCategory}}"
                           #updateName
                           class="form-control"
                           placeholder="Select a category"
                           [value]="selectedCategory != -1 ? categories[selectedCategory].name : ''">
                </div>
                <hr>
                <textarea type="text"
                          #updateDesc
                          name = "updateDesc"
                          class="form-control"
                          (keyup)="onLiveUpdate(updateDesc)"
                          placeholder="Enter the description text"
                          [value]="selectedCategory != -1 ? categories[selectedCategory].description : ''"></textarea>
                <hr>
                <div class="d-flex justify-content-around">
                    <button type="button"
                            class="btn btn-success"
                            (click)="onUpdate(selectedCategory, updateName.value, updateDesc.value)"
                            [disabled]="btnUpdateDisabled">Update</button>
                    <button type="button" class="btn btn-danger" [disabled]="btnDelete" (click)="onDelete()">Delete</button>
                </div>
                <div *ngIf="alertForUpdate">
                    <hr>
                    <div class="alert alert-danger" *ngIf="alertError">
                        {{alertInfo}}
                    </div>
                    <div class="alert alert-success" *ngIf="alertSuccess">
                        {{alertInfo}}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--
    <div class="card shadow">
        <div class="card-header text-center">
            <h4>Administration des catégories de produits</h4>
        </div>
        <div class="card-body">
            <p class="text-center">
                <i><b>Il y a actuellement {{categories.length}} catégories</b></i>
            </p>
            <div class="container">
                <div class="row">
                    <div class="col-md-auto">
                        <div class="card">
                            <div class="card-header">
                                Ajouter une catégorie
                            </div>
                            <div class="card-body">
                                <form class="input-group mt-3 mb-3"
                                      name="newCatForm"
                                      role="form"
                                      [formGroup]="addForm"
                                      (keydown)="hideAlerts()"
                                      (ngSubmit)="addNew()">
                                    <input type="text"
                                           class="form-control"
                                           placeholder="Saisir une catégorie"
                                           required="required"
                                           formControlName="name">
                                    <div class="input-group-append">
                                        <button type="submit" class="btn btn-primary"><i class="far fa-check-circle"></i></button>
                                    </div>

                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-auto">
                        <div class="card">
                            <div class="card-header">
                                Liste des catégories
                            </div>
                            <div class="card-body">
                                <div class="input-group mt-3 mb-3">
                                    <div class="input-group-prepend">
                                        <button type="button" class="btn btn-outline-secondary dropdown-toggle" data-toggle="dropdown">
                                            Sélection
                                        </button>
                                        <div class="dropdown-menu">
                                            <a class="dropdown-item" *ngFor="let category of categories; index as i" id="{{i}}" (click)="clickSelect(i)" style="cursor: pointer;">
                                                {{category.name}}
                                            </a>
                                        </div>
                                    </div>
                                    <input type="text"
                                           id="{{selectedCategory}}"
                                           class="form-control"
                                           placeholder="Sélectionner une catégorie"
                                           (keyup)="onUpdate($event)"
                                           [value]="selectedCategory != -1 ? categories[selectedCategory].name : ''">
                                    <div class="input-group-append">
                                        <button class="btn btn-danger"
                                                type="submit"
                                                [disabled]="btnDelete"
                                                (click)="onDelete()">
                                            <i class="fa fa-times-circle"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="alert alert-danger" *ngIf="alertError">
            <strong>Attention ! </strong>{{alertInfo}}
        </div>
        <div class="alert alert-success" *ngIf="alertSuccess">
            <strong>Confirmation : </strong>{{alertInfo}}
        </div>
    </div>
    -->
</div>
