nav {
    background: url("../../../../../assets/images/bg_4.jpg") no-repeat fixed;
    height: 80px;
    border-bottom: 10px solid #df9307;
    font-family: "Poppins", Arial, sans-serif
}

.navbar-brand {
    font-size: 24px;
    line-height: 1;
}

.navbar-brand span {
    font-size: 24px;
    color: #fac564;
}

.navbar-brand small {
    text-transform: uppercase;
    font-size: 11px;
    display: block;
    text-align: center;
    color: #fac564;
    letter-spacing: 4px;
}
.nav-link {
    cursor: pointer;
    color: #fff !important;
}

.navbar-dark .navbar-nav .active > .nav-link {
    color: #fac564 !important;
}

.nav-link:hover {
    color: #fac564 !important;
}

@media (max-width: 991px) {
    .nav-link {

    }
    .nav-link:hover {
        font-size: larger;
    }
    .navbar-collapse {
        width: auto;
        border: 2px solid #df9307;
        background: url("../../../../../assets/images/bg_4.jpg") no-repeat fixed;
    }
}

.navbar-nav {
    align-items: center;
}

.navbar {
    /*z-index: 16;*/
}

.navbar-toggler {
    background-color: #df9307;
}

i {
    margin-right: 10px;
}

.under-nav {
    height: 10px;
    background-color: #df9307;
}

/*
.ftco-navbar-light {
    background: url(../../../../../assets/images/bg_4.jpg) no-repeat fixed;
    z-index: 3;
}

@media (max-width: 991.98px) {
    .ftco-navbar-light {
        background: #000 !important;
        position: relative; } }
.ftco-navbar-light .navbar-brand {
    color: #fff;
    font-family: "Josefin Sans", Arial, sans-serif; }
@media (min-width: 768px) {
    .ftco-navbar-light .navbar-brand {
        color: #fff; } }
.ftco-navbar-light .navbar-nav > .nav-item > .nav-link {
    font-size: 14px;
    padding-top: .9rem;
    padding-bottom: .9rem;
    padding-left: 0;
    padding-right: 0;
    color: rgba(255, 255, 255, 0.9);
    font-weight: 400;
    opacity: 1 !important; }
@media (min-width: 768px) {
    .ftco-navbar-light .navbar-nav > .nav-item > .nav-link {
        padding-top: 1.5rem;
        padding-bottom: 1.5rem;
        padding-left: 20px;
        padding-right: 20px;
        color: rgba(255, 255, 255, 0.7); } }
.ftco-navbar-light .navbar-nav > .nav-item > .nav-link:hover {
    color: #fac564; }
.ftco-navbar-light .navbar-nav > .nav-item .dropdown-menu {
    border: none;
    background: #fff;
    -webkit-box-shadow: 0px 10px 34px -20px rgba(0, 0, 0, 0.41);
    -moz-box-shadow: 0px 10px 34px -20px rgba(0, 0, 0, 0.41);
    box-shadow: 0px 10px 34px -20px rgba(0, 0, 0, 0.41); }
.ftco-navbar-light .navbar-nav > .nav-item.ftco-seperator {
    position: relative;
    margin-left: 20px;
    padding-left: 20px; }
@media (max-width: 991.98px) {
    .ftco-navbar-light .navbar-nav > .nav-item.ftco-seperator {
        padding-left: 0;
        margin-left: 0; } }
.ftco-navbar-light .navbar-nav > .nav-item.ftco-seperator:before {
    position: absolute;
    content: "";
    top: 10px;
    bottom: 10px;
    left: 0;
    width: 2px;
    background: rgba(255, 255, 255, 0.05); }
@media (max-width: 991.98px) {
    .ftco-navbar-light .navbar-nav > .nav-item.ftco-seperator:before {
        display: none; } }
@media (max-width: 767.98px) {
    .ftco-navbar-light .navbar-nav > .nav-item.cta {
        margin-bottom: 20px; } }
.ftco-navbar-light .navbar-nav > .nav-item.cta > a {
    color: #fff;
    border: 1px solid #fac564;
    background: #fac564;
    padding-top: .5rem;
    padding-bottom: .5rem;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 4px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    border-radius: 30px; }
.ftco-navbar-light .navbar-nav > .nav-item.cta > a span {
    display: inline-block;
    color: #fff; }
.ftco-navbar-light .navbar-nav > .nav-item.cta > a:hover {
    background: #fac564;
    border: 1px solid #fac564; }
.ftco-navbar-light .navbar-nav > .nav-item.cta.cta-colored span {
    border-color: #fac564; }
.ftco-navbar-light .navbar-nav > .nav-item.active > a {
    color: #fac564; }
.ftco-navbar-light .navbar-toggler {
    border: none;
    color: rgba(255, 255, 255, 0.8) !important;
    cursor: pointer;
    padding-right: 0;
    text-transform: uppercase;
    font-size: 16px;
    letter-spacing: .1em; }
.ftco-navbar-light.scrolled {
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
    margin-top: -130px;
    background: #121618 !important;
    -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1); }
.ftco-navbar-light.scrolled .nav-item > .nav-link {
    color: #fff !important; }
.ftco-navbar-light.scrolled .nav-item.active > a {
    color: #fac564 !important; }
.ftco-navbar-light.scrolled .nav-item.cta > a {
    color: #fff !important;
    background: #fac564;
    border: none !important;
    padding-top: 0.5rem !important;
    padding-bottom: .5rem !important;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 6px !important;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    border-radius: 30px; }
.ftco-navbar-light.scrolled .nav-item.cta > a span {
    display: inline-block;
    color: #fff !important; }
.ftco-navbar-light.scrolled .nav-item.cta.cta-colored span {
    border-color: #fac564; }
@media (max-width: 991.98px) {
    .ftco-navbar-light.scrolled .navbar-nav {
        background: none;
        border-radius: 0px;
        padding-left: 0rem !important;
        padding-right: 0rem !important; } }
@media (max-width: 767.98px) {
    .ftco-navbar-light.scrolled .navbar-nav {
        background: none;
        padding-left: 0 !important;
        padding-right: 0 !important; } }
.ftco-navbar-light.scrolled .navbar-toggler {
    border: none;
    color: rgba(255, 255, 255, 0.8) !important;
    border-color: rgba(0, 0, 0, 0.5) !important;
    cursor: pointer;
    padding-right: 0;
    text-transform: uppercase;
    font-size: 16px;
    letter-spacing: .1em; }
.ftco-navbar-light.scrolled .nav-link {
    padding-top: 0.9rem !important;
    padding-bottom: 0.9rem !important;
    color: #000 !important; }
.ftco-navbar-light.scrolled .nav-link.active {
    color: #fac564 !important; }
.ftco-navbar-light.scrolled.awake {
    margin-top: 0px;
    -webkit-transition: .3s all ease-out;
    -o-transition: .3s all ease-out;
    transition: .3s all ease-out; }
.ftco-navbar-light.scrolled.sleep {
    -webkit-transition: .3s all ease-out;
    -o-transition: .3s all ease-out;
    transition: .3s all ease-out; }
.ftco-navbar-light.scrolled .navbar-brand {
    color: #fff; }

.navbar-brand {
    font-size: 24px;
    line-height: 1; }
.navbar-brand span {
    font-size: 24px;
    color: #fac564; }
.navbar-brand small {
    text-transform: uppercase;
    font-size: 11px;
    display: block;
    text-align: center;
    color: #fac564;
    letter-spacing: 4px; }
*/
