<!-- START nav -->
<nav class="navbar navbar-expand-lg navbar-dark bg-transparent fixed-top">
    <a class="navbar-brand" href="#">
        KyPizzApp
        <br>
        <small>Kybox release</small>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" routerLink="">Home</a>
            </li>
            <li class="nav-item" *ngFor="let category of categoryList" routerLinkActive="active">
                <a class="nav-link" [routerLink]="getRoute(category.id)" (click)="goTo(category.id)">{{category.name}}</a>
            </li>
            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" routerLink="/admin">Contact</a>
            </li>
            <li class="nav-item" *ngIf="authenticated" routerLinkActive="active">
                <a class="nav-link" routerLink="/auth/account">My account</a>
            </li>
            <li class="nav-item" *ngIf="!authenticated" routerLinkActive="active">
                <a class="nav-link" routerLink="/auth/login">Login</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/restricted/admin" routerLinkActive="active">Admin</a>
            </li>
        </ul>
    </div>
    <div class="float-right">
        <div class="dropdown nav-item">
            <a class="nav-link" type="button" data-toggle="dropdown">
                <i class="ion-md-cart"></i>Cart ({{cartTotalItems}})
            </a>
            <div class="dropdown-menu dropdown-menu-right cart-dropdown p-2">
                <div *ngIf="cart !== undefined">
                    <table class="table table-sm table-dark text-center">
                        <tbody>
                            <tr *ngFor="let product of cart.productList" id="{{product.id}}">
                                <td>
                                    <label>
                                        <input type="number" class="form-control" min="1" value="{{product.quantity}}">
                                    </label>
                                </td>
                                <td>{{product.name}}</td>
                                <td><button class="btn btn-danger btn-close"><i class="ion-md-close"></i></button></td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="dropdown-divider"></div>
                    <div class="text-center">
                        <button type="button" class="btn btn-success" (click)="clickOrder()">Order</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</nav>
<!-- END nav -->
