.main-container {
    background: url(../../../../../assets/images/bg_4.jpg) no-repeat fixed;
    -webkit-background-size: cover;
    background-size: cover;
    font-family: "Poppins", Arial, sans-serif;
    color:gray;
}

.product-intro-block {
    padding: 6%;
    justify-content: center;
    text-align: center;
}

.product-intro-title {
    color: white;
}

.product-block {
    align-content: space-around;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
}
.product-content {
    flex: 0 0 36em;
    width: auto;
    margin-left: 10px;
    margin-right: 10px;
    border: 2px white;
}

.desc {
    width: calc(100% - 60px);
    padding: 2%;
}

.dashed {
    border-bottom: 1px dashed #df9307;
    text-align: center;
    height: 26px;
    margin-bottom: 10px;
}

.price {
    color: #fac564;
    text-align: right;
    background: #121618;
    font-size: 20px;
    width: 60px;
}
.tax-info {
    color: #fac564;
    font-size: 9px;
    padding: 0;
    font-style: italic;
}

.img-product img {
    width: 60px;
    height: 60px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}
.product-description {
    font-size: 14px;
    padding:2%;
}

.btn-order {
    background-color: transparent;
    border-color: white;
    color: white;
}
.btn-order:hover {
    background-color: #df9307;
    border-color: black;
    color: black;
}


