h3 {
    color:white;
}
label {
    text-align: left;
    color: lightgray;
    padding: 2%;
    background-color: rgba(0, 0, 0, 0.6);
    width: 100%;
    margin-bottom: 0;
}
.switch {
    background-color: transparent;
}
.remember-me {
    height:20px;
    width: auto;
    line-height: 2px;
    margin-left: 6px;
}
.remember-me-active {
    color: #df9307;
}
.child-component {
    color: darkgray;
}
.title {
    color: white;
}
.auth-box {
    background-image: url("../../../../../assets/images/bg_1.jpg");
    background-size: cover;
}
.auth-box-inner {
    background-color: rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 100%;
}
.auth-box-inner p {
    color: #fac564;
}
.btn-form {
    background-color: transparent;
    border-color: white;
    color: white;
}
.btn-form:hover {
    background-color: #df9307;
    border-color: black;
    color: black;
    cursor: pointer;
}
.btn-form:disabled {
    background-color: transparent;
    border-color: white;
    color: white;
    cursor: not-allowed;
}
@media only screen and (max-width: 992px) {
    .auth-box {
        margin: 10px;
    }
}
/* .squaredFour */
.squaredFour {
    width: 20px;
    position: relative;
    margin: 20px auto;
}
.squaredFour label {
    width: 20px;
    height: 20px;
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
    background: #fcfff4;
    background: linear-gradient(to bottom, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
    border-radius: 4px;
    box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0, 0, 0, 0.5);
}
.squaredFour label:after {
    content: '';
    width: 12px;
    height: 9px;
    position: absolute;
    top: 4px;
    left: 4px;
    border: 3px solid #333;
    border-top: none;
    border-right: none;
    background: transparent;
    opacity: 0;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}
.squaredFour label:hover::after {
    opacity: 0.5;
}
.squaredFour input[type=checkbox] {
    visibility: hidden;
}
.squaredFour input[type=checkbox]:checked + label:after {
    opacity: 1;
}

/* end .squaredFour */
