<div class="child-component">
    <div class="d-flex p-2 m-4 justify-content-center">
        <div class="col-md-7 text-center">
            <h2 class="mb-4 title">Welcome to your user account</h2>
            <p class="flip">
                <span class="deg1"></span>
                <span class="deg2"></span>
                <span class="deg3"></span>
            </p>
            <br>
        </div>
    </div>
    <div class="d-flex p-4 m-4 justify-content-center flex-wrap">
        <div class="col-md-3 account-sidebar p-2">
            <div class="account-sidebar-content p-2">
                <ul>
                    <li><i class="ion-md-settings"></i><a href="">Account settings</a></li>
                    <li><i class="ion-md-pin"></i><a href="">Manage my addresses</a></li>
                    <li><i class="ion-md-pizza"></i><a href="">Order history</a></li>
                </ul>
            </div>
        </div>
        <div class="col-md-8 account-content">
            <h4>My account settings</h4>
            <div>
                <label for="nickname">Nickname</label>
                <input type="text" id="nickname">
            </div>
        </div>
    </div>
</div>

