<div class="home">
    <div class="row home-content">
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="row">
                        <div class="col-md-5 col-sm-10 text-right my-auto">
                            <div class="card">
                                <div class="card-body">
                                    <span class="subheading">Pizza du jour</span>
                                    <h1 class="text-white">La Marseillaise</h1>
                                    <div class="row">
                                        <div class="col-sm-4"></div>
                                        <div class="carousel-content col-sm-8">
                                            Base tomate, emmental, mozzarella, tomates cerise, basilic
                                        </div>
                                    </div>
                                    <br>
                                    <p><a href="#" class="btn btn btn-light">Commander maintenant</a></p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <img src="../../../../../assets/images/bg_1.png" class="img-fluid" alt="">
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="row">
                        <div class="col-md-5 col-sm-10 text-right my-auto">
                            <div class="card">
                                <div class="card-body">
                                    <span class="subheading">Nouvelle pizza</span>
                                    <h1 class="text-white">La tom'cheese</h1>
                                    <div class="row">
                                        <div class="col-sm-4"></div>
                                        <div class="carousel-content col-sm-8">
                                            Base tomate, emmental, mozzarella, tomates cerise
                                        </div>
                                    </div>
                                    <br>
                                    <p><a href="#" class="btn btn btn-light">Commander maintenant</a></p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <img src="../../../../../assets/images/bg_2.png" class="img-fluid" alt="">
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="row">
                        <div class="col-md-5 col-sm-10 text-right my-auto">
                            <div class="card">
                                <div class="card-body">
                                    <span class="subheading">Laissez-vous tenter</span>
                                    <h1 class="text-white">La Marseillaise</h1>
                                    <div class="row">
                                        <div class="col-sm-4"></div>
                                        <div class="carousel-content col-sm-8">
                                            Base tomate, emmental, mozzarella, tomates cerise, basilic
                                        </div>
                                    </div>
                                    <br>
                                    <p><a href="#" class="btn btn btn-light">Commander maintenant</a></p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <img src="../../../../../assets/images/bg_1.png" class="img-fluid" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="shop-info-container">
        <div class="p-2 flex-fill">
            <div class="shop-info-sub-container">
                <div class="">
                    <div class="icon">
                        <i class="ion-md-call"></i>
                    </div>
                    <div class="shop-info-text">
                        <h6>000 (123) 456 7890</h6>
                        <p>A small river named Duden flows</p>
                    </div>
                </div>
                <div class="">
                    <div class="icon">
                        <i class="ion-md-pin"></i>
                    </div>
                    <div class="shop-info-text">
                        <h6>198 West 21th Street</h6>
                        <p>Suite 721 New York NY 10016</p>
                    </div>
                </div>
                <div class="">
                    <div class="icon">
                        <span class="ion-md-time"></span>
                    </div>
                    <div class="shop-info-text">
                        <h6>Open Monday-Friday</h6>
                        <p>8:00am - 9:00pm</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="p-2 flex-fill flex-grow-1">
            <div class="social-container">
                <div class="icon">
                    <span class="ion-logo-facebook"></span>
                    <a href="#" class="social-link">Facebook</a>
                </div>
            </div>
            <div class="social-container">
                <div class="icon">
                    <span class="ion-logo-twitter"></span>
                    <a href="#" class="social-link">Twitter</a>
                </div>
            </div>
            <div class="social-container">
                <div class="icon">
                    <span class="ion-logo-github"></span>
                    <a href="#" class="social-link">Git-hub</a>
                </div>
            </div>
        </div>
    </div>
    <section class="restaurant-container">
        <div class="restaurant-picture"></div>
        <div class="restaurant-about">
            <h2 class="restaurant-about-title">Welcome to the pizza restaurant</h2>
            <p class="restaurant-about-text">On her way she met a copy. The copy warned the Little Blind Text, that where it came from it would have been rewritten a thousand times and everything that was left from its origin would be the word "and" and the Little Blind Text should turn around and return to its own, safe country. But nothing the copy said could convince her and so it didn’t take long until a few insidious Copy Writers ambushed her, made her drunk with Longe and Parole and dragged her into their agency, where they abused her for their.</p>
        </div>
    </section>
</div>


<!--
<section class="home-slider owl-carousel img" style="background-image: url(../../../../../assets/images/bg_1.jpg);">
    <div class="slider-item">
        <div class="overlay"></div>
        <div class="container">

            <div class="row slider-text align-items-center" data-scrollax-parent="true">

                <div class="col-md-6 col-sm-12 ftco-animate">
                    <span class="subheading">Delicious</span>
                    <h1 class="mb-4">Italian Cuizine</h1>
                    <p class="mb-4 mb-md-5">A small river named Duden flows by their place and supplies it with the necessary regelialia.</p>
                    <p><a href="#" class="btn btn-primary p-3 px-xl-4 py-xl-3">Order Now</a> <a href="#" class="btn btn-white btn-outline-white p-3 px-xl-4 py-xl-3">View Menu</a></p>
                </div>
                <div class="col-md-6 ftco-animate">
                    <img src="../../../../../assets/images/bg_1.png" class="img-fluid" alt="">
                </div>

            </div>
        </div>
    </div>

    <div class="slider-item">
        <div class="overlay"></div>
        <div class="container">
            <div class="row slider-text align-items-center" data-scrollax-parent="true">

                <div class="col-md-6 col-sm-12 order-md-last ftco-animate">
                    <span class="subheading">Crunchy</span>
                    <h1 class="mb-4">Italian Pizza</h1>
                    <p class="mb-4 mb-md-5">A small river named Duden flows by their place and supplies it with the necessary regelialia.</p>
                    <p><a href="#" class="btn btn-primary p-3 px-xl-4 py-xl-3">Order Now</a> <a href="#" class="btn btn-white btn-outline-white p-3 px-xl-4 py-xl-3">View Menu</a></p>
                </div>
                <div class="col-md-6 ftco-animate">
                    <img src="../../../../../assets/images/bg_2.png" class="img-fluid" alt="">
                </div>

            </div>
        </div>
    </div>

    <div class="slider-item" style="background-image: url(../../../../../assets/images/bg_3.jpg);">
        <div class="overlay"></div>
        <div class="container">
            <div class="row slider-text justify-content-center align-items-center" data-scrollax-parent="true">

                <div class="col-md-7 col-sm-12 text-center ftco-animate">
                    <span class="subheading">Welcome</span>
                    <h1 class="mb-4">We cooked your desired Pizza Recipe</h1>
                    <p class="mb-4 mb-md-5">A small river named Duden flows by their place and supplies it with the necessary regelialia.</p>
                    <p><a href="#" class="btn btn-primary p-3 px-xl-4 py-xl-3">Order Now</a> <a href="#" class="btn btn-white btn-outline-white p-3 px-xl-4 py-xl-3">View Menu</a></p>
                </div>

            </div>
        </div>
    </div>
</section>

<section class="ftco-intro">
    <div class="container-wrap">
        <div class="wrap d-md-flex">
            <div class="info">
                <div class="row no-gutters">
                    <div class="col-md-4 d-flex ftco-animate">
                        <div class="icon"><span class="icon-phone"></span></div>
                        <div class="text">
                            <h3>000 (123) 456 7890</h3>
                            <p>A small river named Duden flows</p>
                        </div>
                    </div>
                    <div class="col-md-4 d-flex ftco-animate">
                        <div class="icon"><span class="icon-my_location"></span></div>
                        <div class="text">
                            <h3>198 West 21th Street</h3>
                            <p>Suite 721 New York NY 10016</p>
                        </div>
                    </div>
                    <div class="col-md-4 d-flex ftco-animate">
                        <div class="icon"><span class="icon-clock-o"></span></div>
                        <div class="text">
                            <h3>Open Monday-Friday</h3>
                            <p>8:00am - 9:00pm</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="social d-md-flex pl-md-5 p-4 align-items-center">
                <ul class="social-icon">
                    <li class="ftco-animate"><a href="#"><span class="icon-twitter"></span></a></li>
                    <li class="ftco-animate"><a href="#"><span class="icon-facebook"></span></a></li>
                    <li class="ftco-animate"><a href="#"><span class="icon-instagram"></span></a></li>
                </ul>
            </div>
        </div>
    </div>
</section>

<section class="ftco-about d-md-flex">
    <div class="one-half img" style="background-image: url(../../../../../assets/images/about.jpg);"></div>
    <div class="one-half ftco-animate">
        <div class="heading-section ftco-animate ">
            <h2 class="mb-4">Welcome to <span class="flaticon-pizza">Pizza</span> A Restaurant</h2>
        </div>
        <div>
            <p>On her way she met a copy. The copy warned the Little Blind Text, that where it came from it would have been rewritten a thousand times and everything that was left from its origin would be the word "and" and the Little Blind Text should turn around and return to its own, safe country. But nothing the copy said could convince her and so it didn’t take long until a few insidious Copy Writers ambushed her, made her drunk with Longe and Parole and dragged her into their agency, where they abused her for their.</p>
        </div>
    </div>
</section>
-->
