<div class="admin" id="wrapper">
    <div class="bg-light border-right col-xl-auto" id="sidebar-wrapper">
        <div class="sidebar-heading">
            <i class="fas fa-unlock-alt" style="margin-right: 10px;"></i>
            Administration
            <br>
            <small class="text-muted" style="padding-left: 80px;">
                <a routerLink="">
                    site web client
                    <i class="fas fa-external-link-square-alt"></i>
                </a>
            </small>

        </div>
        <ul class="list-group list-group-flush">
            <li>
                <a routerLink="/admin/category" class="list-group-item list-group-item-action bg-light shadow">
                    <i class="fas fa-arrow-circle-right" style="margin-right: 10px;"></i>Categories
                </a>
            </li>
            <li>
                <a routerLink="/admin/product" class="list-group-item list-group-item-action bg-light shadow">
                    <i class="fas fa-arrow-circle-right" style="margin-right: 10px;"></i>Produits
                </a>
            </li>
            <li>
                <a routerLink="/admin/product" class="list-group-item list-group-item-action bg-light shadow">
                    <i class="fas fa-arrow-circle-right" style="margin-right: 10px;"></i>Modifier un produit
                </a>
            </li>
            <a href="#" class="list-group-item list-group-item-action bg-light border-right-0">Shortcuts</a>
            <a href="#" class="list-group-item list-group-item-action bg-light">Overview</a>
            <a href="#" class="list-group-item list-group-item-action bg-light">Events</a>
            <a href="#" class="list-group-item list-group-item-action bg-light">Profile</a>
            <a href="#" class="list-group-item list-group-item-action bg-light">Status</a>
        </ul>
    </div>
    <div class="admin-content col">
        <router-outlet></router-outlet>
    </div>
</div>
