<div class="admin d-flex flex-wrap flex-md-nowrap flex-lg-nowrap justify-content-start vh-100">
    <div class="admin-side-bar bg-light col-md-3 col-lg-3 col-xl-2">
        <nav class="navbar navbar-expand-lg navbar-expand-md">
            <div class="navbar-toggled">
                <button class="navbar-toggler" data-toggle="collapse" data-target="#sidebar" aria-expanded="false">
                    <i class="ion-md-options"></i>
                </button>
            </div>
            <div class="collapse navbar-collapse" id="sidebar">
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <div class="nav-link active">
                            <span><i class="fas fa-unlock-alt admin-item"></i>Dashboard</span>
                        </div>
                    </li>
                    <li>
                        <a routerLink="/restricted/admin/user" class="list-group-item list-group-item-action bg-light shadow">
                            <span><i class="fas fa-arrow-circle-right admin-item"></i>User</span>
                        </a>
                    </li>
                    <li>
                        <a routerLink="/restricted/admin/category" class="list-group-item list-group-item-action bg-light shadow">
                            <span><i class="fas fa-arrow-circle-right admin-item"></i>Category</span>
                        </a>
                    </li>
                    <li>
                        <a routerLink="/restricted/admin/product" class="list-group-item list-group-item-action bg-light shadow">
                            <span><i class="fas fa-arrow-circle-right admin-item"></i>Product</span>
                        </a>
                    </li>
                    <li>
                        <a routerLink="/restricted/admin/payment" class="list-group-item list-group-item-action bg-light shadow">
                            <span><i class="fas fa-arrow-circle-right admin-item"></i>Payment</span>
                        </a>
                    </li>
                    <li>
                        <a routerLink="/restricted/admin/delivery" class="list-group-item list-group-item-action bg-light shadow">
                            <span><i class="fas fa-arrow-circle-right admin-item"></i>Delivery</span>
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
    <div class="flex-grow-1 col-md-9 col-lg-9 col-xl-10 p-0 min-vh-100 vh-100">
        <router-outlet></router-outlet>
    </div>
</div>
