ul {
    list-style-type: none;
    margin: 0;
    padding:0;
}
li {
    margin: 0;
    padding:0;
}
i {
    margin-right: 10px;
}
body {
    background-color: white;
}
.list-group-item {
    border-radius: 0;
}
.admin {
    margin-top: -80px;
}
.admin-side-bar {
    width: 100%;
}
@media (max-width: 800px) {
    .admin-item {
        display: none;
    }
}

.navbar-toggler {
    font-size: 32px;
}
.form-control-dark {
    color: #fff;
    background-color: rgba(255, 255, 255, .1);
    border-color: rgba(255, 255, 255, .1);
}

.form-control-dark:focus {
    border-color: transparent;
    box-shadow: 0 0 0 3px rgba(255, 255, 255, .25);
}
